<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="icon" href="{% static 'website/img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'website/css/style_add_achievement.css' %}">
    <!--    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>-->
    <!--    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>-->
    <script src="{% static 'website/js/js_add_achievement.js' %}"></script>

</head>
<body>
{% include 'templates/header.html' %}


{% if error_message %}
<div id="notification" class="notification error">
    <p>{{ error_message }}</p>
    <button id="ok-button">OK</button>
</div>
{% elif message %}
<div id="notification" class="notification success">
    <p>{{ message }}</p>
    <button id="ok-button">OK</button>
</div>
{% endif %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var notification = document.getElementById('notification');
        var okButton = document.getElementById('ok-button');
        if (notification) {
            notification.style.display = 'block';

            // Функция для перенаправления на профиль
            function redirectToProfile() {
                window.location.href = '/profile';
            }

            setTimeout(redirectToProfile, 10000);
            okButton.addEventListener('click', redirectToProfile);
        }
    });
</script>


<div class="content">
    <h1>Добавление конкурса</h1>
    <form method="POST" id="achievementForm" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
    <label for="competitionType">Вид конкурса:</label>
    <select id="competitionType" name="competitionType">
        <option value="Олимпиада" {% if request.POST.competitionType == 'Олимпиада' %}selected{% endif %}>Олимпиада</option>
        <option value="Конференция" {% if request.POST.competitionType == 'Конференция' %}selected{% endif %}>Конференция</option>
        <option value="Фестиваль" {% if request.POST.competitionType == 'Фестиваль' %}selected{% endif %}>Фестиваль</option>
        <option value="Семинар" {% if request.POST.competitionType == 'Семинар' %}selected{% endif %}>Семинар</option>
        <option value="Конкурс" {% if request.POST.competitionType == 'Конкурс' %}selected{% endif %}>Конкурс</option>
        <option value="Курс" {% if request.POST.competitionType == 'Курс' %}selected{% endif %}>Курс</option>
        <option value="Вебинар" {% if request.POST.competitionType == 'Вебинар' %}selected{% endif %}>Вебинар</option>
        <option value="Проект" {% if request.POST.competitionType == 'Проект' %}selected{% endif %}>Проект</option>
        <option value="Стажировка" {% if request.POST.competitionType == 'Стажировка' %}selected{% endif %}>Стажировка</option>
        <option value="Мастер-класс" {% if request.POST.competitionType == 'Мастер-класс' %}selected{% endif %}>Мастер-класс</option>
        <option value="Пресс-конференция" {% if request.POST.competitionType == 'Пресс-конференция' %}selected{% endif %}>Пресс-конференция</option>
    </select>
</div>
        <div class="form-group">
            <label for="workName">Название работы:</label>
            <input type="text" id="workName" name="workName" value="{{ request.POST.workName }}" required></div>
        <div class="form-group">
            <label for="documentType">Вид документа:</label>
            <select id="documentType" name="documentType">
                <option value="Сертификат" {% if request.POST.documentType == 'Сертификат' %}selected{% endif %}>Сертификат</option>
                <option value="Грамота" {% if request.POST.documentType == 'Грамота' %}selected{% endif %}>Грамота</option>
                <option value="Диплом" {% if request.POST.documentType == 'Диплом' %}selected{% endif %}>Диплом</option>
                <option value="Благодарность" {% if request.POST.documentType == 'Благодарность' %}selected{% endif %}>Благодарность</option>
                <option value="Удостоверение" {% if request.POST.documentType == 'Удостоверение' %}selected{% endif %}>Удостоверение</option>
                <option value="Справка" {% if request.POST.documentType == 'Справка' %}selected{% endif %}>Справка</option>
                <option value="Статья" {% if request.POST.documentType == 'Статья' %}selected{% endif %}>Статья</option>
                <option value="Медаль" {% if request.POST.documentType == 'Медаль' %}selected{% endif %}>Медаль</option>
            </select>
        </div>

        <div class="form-group">
            <label for="eventDate">Дата проведения:</label>
            <!--            <input type="date" id="eventDate" name="eventDate" class="datepicker" required>-->
            <input type="date" id="eventDate" name="eventDate" class="datepicker"
                   value="{{ request.POST.eventDate|default_if_none:'' }}" required>
        </div>

        <div class="form-group">
            <label for="position">Занятое место:</label>
            <select id="position" name="position">
            <option value="Участник" {% if request.POST.position == 'Участник' %}selected{% endif %}>Участник</option>
            <option value="Призёр" {% if request.POST.position == 'Призёр' %}selected{% endif %}>Призёр</option>
            <option value="Победитель" {% if request.POST.position == 'Победитель' %}selected{% endif %}>Победитель</option>
            </select>
        </div>
        <div class="form-group">
            <label for="olympiadLevel">Уровень конкурса:</label>
            <select id="olympiadLevel" name="olympiadLevel">
                <option value="Школьный" {% if request.POST.olympiadLevel == 'Школьный' %}selected{% endif %}>Школьный</option>
                <option value="Региональный" {% if request.POST.olympiadLevel == 'Региональный' %}selected{% endif %}>Региональный</option>
                <option value="Муниципальный" {% if request.POST.olympiadLevel == 'Муниципальный' %}selected{% endif %}>Муниципальный</option>
                <option value="Федеральный" {% if request.POST.olympiadLevel == 'Федеральный' %}selected{% endif %}>Федеральный</option>
                <option value="Международный" {% if request.POST.olympiadLevel == 'Международный' %}selected{% endif %}>Международный</option>
            </select>
        </div>
        <div class="form-group">
    <label for="subject">Предмет:</label>
    <select id="subject" name="subject">
        <option value="Математика" {% if request.POST.subject == 'Математика' %}selected{% endif %}>Математика</option>
        <option value="Русский язык" {% if request.POST.subject == 'Русский язык' %}selected{% endif %}>Русский язык</option>
        <option value="Английский язык" {% if request.POST.subject == 'Английский язык' %}selected{% endif %}>Английский язык</option>
        <option value="Литература" {% if request.POST.subject == 'Литература' %}selected{% endif %}>Литература</option>
        <option value="Физика" {% if request.POST.subject == 'Физика' %}selected{% endif %}>Физика</option>
        <option value="Биология" {% if request.POST.subject == 'Биология' %}selected{% endif %}>Биология</option>
        <option value="География" {% if request.POST.subject == 'География' %}selected{% endif %}>География</option>
        <option value="Физическая культура" {% if request.POST.subject == 'Физическая культура' %}selected{% endif %}>Физическая культура</option>
        <option value="ОБЖ" {% if request.POST.subject == 'ОБЖ' %}selected{% endif %}>ОБЖ</option>
        <option value="Химия" {% if request.POST.subject == 'Химия' %}selected{% endif %}>Химия</option>
        <option value="Другое" {% if request.POST.subject == 'Другое' %}selected{% endif %}>Другое</option>
    </select>
</div>
        <div class="form-group">
            <label for="scan">Загрузить скан:</label>
            <input type="file" id="scan" name="scan"
                   accept=".pdf,.doc,.docx,.png,.jpg,.jpeg,.gif,.zip,.rar,.7z,.bmp,.ppt,.pptx" required>
        </div>


        <button type="submit" id="submit_button">Добавить достижение</button>
    </form>
</div>
</body>
</html>
