<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--    <title>Профиль</title>TODO-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/style_profile.css' %}">
    <link rel="icon" href="{% static 'website/img/favicon.ico' %}"><!-- 32×32 -->
    <script src="{% static 'website/js/js_profile.js' %}"></script>
</head>
<body>
<div class="content">

    {% include 'templates/sidebar.html' %}
    <h2>Профиль</h2>
    <div class="profile">
        <form>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ value_name }}" readonly>

            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" value="{{ value_surname }}" readonly>

            <label for="class">Класс:</label>
            <input type="text" id="class" name="class" value="{{ value_class }}" readonly>

            <label for="letter">Буква:</label>
            <input type="text" id="letter" name="letter" value="{{ value_letter }}" readonly>

            <label for="achievements">Количество достижений:</label>
            <input type="text" id="achievements" name="achievements" value="{{ value_countAchievements }}" readonly>
        </form>
    </div>

    <div class="actions">
    <button class="button_add_achievement" onclick="handleButtonClick('add_achievement')">Добавить достижение</button>
    <button class="button_list_achievements" onclick="handleButtonClick('list_achievements')">Посмотреть достижения</button>
    <button class="button_make_report" onclick="handleButtonClick('make_report')">Сформировать отчет</button>
</div>

<!--    <div class="actions">-->
<!--        <button class="button_add_achievement">Добавить достижение</button>-->
<!--        <button class="button_list_achievements">Посмотреть достижения</button>-->
<!--        <button class="button_make_report">Сформировать отчет</button>-->
<!--    </div>-->
</div>
</body>
</html>
