<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/style_profile.css' %}">
    <link rel="stylesheet" href="{% static 'website/css/public/style_header.css' %}">
<!--    <script src="{% static 'website/js/js_profile.js' %}"></script>-->
</head>
<body>
<div class="content">

    {% include 'templates/header.html' %}
    <h2>Профиль</h2>
    <div class="profile">
        <form>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ value_name }}" readonly>

            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" value="{{ value_surname }}" readonly>

            <label for="class">Класс:</label>
            <input type="text" id="class" name="class" value="{{ value_class }}" readonly>

            <label for="letter">Буква:</label>
            <input type="text" id="letter" name="letter" value="{{ value_letter }}" readonly>

            <label for="achievements">Количество достижений:</label>
            <input type="text" id="achievements" name="achievements" value="{{ value_countAchievements }}" readonly>
        </form>
    </div>
    <div class="actions">
        <form action="{% url 'add_achievement' %}">
            {% csrf_token %}
            <button class="button_add_achievement" name="buttonName" value="add_achievement">Добавить достижение
            </button>
        </form>

        <form action="{% url 'list_achievements' %}" method="post">
            {% csrf_token %}
            <button class="button_list_achievements" name="buttonName" value="list_achievements">Посмотреть достижения
            </button>
        </form>

        <form action="{% url 'make_report' %}" method="post">
            {% csrf_token %}
            <button class="button_make_report" name="buttonName" value="make_report">Сформировать отчет</button>
        </form>

        </form>
    </div>

</div>

</div>
</body>
</html>
