<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">

    <title>Профиль</title>
    <link href="https://fonts.googleapis.com/css?family=Port+Lligat Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href=" {% static 'website/css/style_profile.css' %}">

    <style>
        body {
            background: #E5E5E5;
        }
    </style>

</head>

<body>
<div class=e1_4>
    <div class=e128_137>
        <div class="e4_39"></div>
        <span class="e102_15">Количество достижений</span>
        <span class="e102_3">Буква</span>
        <span class="e4_60">Имя</span>
        <span class="e4_61">Фамилия</span>
        <span class="e4_62">Класс</span>
        <span class="e4_59">Профиль</span>

        <div class="class_letter">
            <div class="class_letter2">{{value_letter}}</div>
        </div>
        <div class="achievement_count">
            <div class="achievement_count2">{{value_countAchievements}}</div>
        </div>
        <div class="number_class">
            <div class="number_class2"> {{value_class}}</div>
        </div>
        <div class="student_name">
            <div class="student_name2"> {{value_name}}</div>
        </div>
        <div class="student_surname">
            <div class="student_surname2"> {{value_surname}}</div>
        </div>

        <div class="e104_17"></div>
        <form method="POST"> {% csrf_token %}
            <button class="button_add_achievement" href="{% url 'add' %}" name="button_add_achievement">Добавить
                достижение
            </button>
            <button class="button_list_achievements" href="{% url 'list' %}" name="button_list_achievements">Посмотреть
                достижения
            </button>
            <button class="button_make_report" href="{% url 'make' %}" name="button_make_report">Сформировать отчёт
            </button>
        </form>
    </div>
    <div class=e128_136>
        <div class="e2_6">
            <button class="quit" type="submit"><img src="{% static 'website/img/quit_logo.png' %}"></button>
        </div>
        <span class="e2_7">Электронное портфолио</span>


    </div>
</div>
</body>
</html>