<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Профиль</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'website/css/style_profile.css' %}">
</head>
<body>
<div class="sidebar">
    <h1>Электронное портфолио</h1>
    <ul>
        <li><a href="#">Профиль</a></li>
        <li><a href="#">Выход</a></li>
    </ul>
</div>
<div class="content">
    <h2>Профиль</h2>
    <div class="profile">
        <form>
            <label for="name">Имя:</label>
            <input type="text" id="name" name="name" value="{{ name }}" readonly>

            <label for="surname">Фамилия:</label>
            <input type="text" id="surname" name="surname" value="{{ surname }}" readonly>

            <label for="class">Класс:</label>
            <input type="text" id="class" name="class" value="{{ class }}" readonly>

            <label for="letter">Буква:</label>
            <input type="text" id="letter" name="letter" value="{{ letter }}" readonly>

            <label for="achievements">Количество достижений:</label>
            <input type="text" id="achievements" name="achievements" value="{{ achievements }}" readonly>
        </form>
    </div>

    <div class="actions">
        <button class="add-achievement">Добавить достижение</button>
        <button class="view-achievements">Посмотреть достижения</button>
        <button class="generate-report">Сформировать отчет</button>
    </div>
</div>
</body>
</html>
