/* Обнуляем значения по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Задаем стили для боковой панели */
.sidebar {
  height: 100vh;
  width: 15vw;
  background-color: #333333;
  position: fixed;
}

.sidebar h1 {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
}

.sidebar ul {
  list-style-type: none;
  margin-top: 3em;
}

.sidebar li {
  margin-bottom: 2em;
}

.sidebar a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5em;
}

.sidebar a:hover {
  background-color: #f2f2f2;
  color: #333333;
}

/* Задаем стили для контента */
.content {
  margin-left: 15vw;
  padding: 2em;
}

.content h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.profile {
  margin-bottom: 2em;
}

.profile label {
  font-size: 1.2em;
  display: block;
  margin-bottom: 0.5em;
}

.profile input {
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.actions button {
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: white;
}

.actions button:hover {
  background-color: #f2f2f2;
  color: #333333;
  cursor: pointer;
}
