/* Обнуляем значения по умолчанию */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Задаем стили для боковой панели */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #594e4e;
    padding: 0px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.profile-actions {
    display: flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin-bottom: 20px;
    /*margin-right: auto;*/

}

.profile-actions ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px; /* Adjust the margin as needed */
}

/*.profile-actions a {*/
/*    text-decoration: none;*/
/*    color: #333;*/
/*    !*margin-right: 40px;*!*/
/*    margin-right: 15%;*/
/*    align-items: ;*/
/*}*/

.profile-actions h1 {
    /*align-items: center;*/

}

.icon_logout {
    /*fill:black;*/
    /*transform: translate(15%, -65%);*/
    display: inline-block;
    /*height: 100%;*/
    /*width: 100%;*/
    margin-right: 5%;

}
.content {
    margin-top: 120px; /* Отступ, чтобы контент не перекрывался боковой панелью */
    padding: 20px;
}


.sidebar h1 {
  color: white;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0;
  /*margin-left: 15px;*/
}

.sidebar ul {
  list-style-type: none;
  margin-top: 3em;
}

.sidebar li {
  margin-bottom: 2em;
}

.sidebar a {
  color: white;
  font-size: 1.2em;
  text-decoration: none;
  padding: 0.5em;
}

.sidebar a:hover {
  background-color: #f2f2f2;
  color: #333333;
}

/* Задаем стили для контента */
.content {
  margin-left: 15vw;
  padding: 2em;
}

.content h2 {
  font-size: 2em;
  margin-bottom: 1em;
  text-align: center;
}

.profile {
  margin-bottom: 2em;
}

.profile label {
  font-size: 1.2em;
  display: block;
  margin-bottom: 0.5em;
}

.profile input {
  font-size: 1.2em;
  padding: 0.5em;
  width: 100%;
  margin-bottom: 1em;
  border: none;
  border-bottom: 1px solid black;
  background-color: #f2f2f2;
}

.actions {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.actions button {
  font-size: 1.2em;
  padding: 0.5em 1em;
  border: none;
  border-radius: 5px;
  background-color: #333333;
  color: white;
}

.actions button:hover {
  background-color: #f2f2f2;
  color: #333333;
  cursor: pointer;
}
