body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column; /* mb trash*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    width: 50%;
    position: relative;
    /*margin-top: 5%;*/
    /*margin: 35% auto; !* Добавлено значение "auto" для центрирования по горизонтали *!*/
}

h1 {
    font-size: 24px;
    margin-bottom: 30px;
}


.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    font-size: 16px;
}

input[type="text"],
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}


button {
    /*padding: 10px 20px;*/
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 12px 24px;
    font-size: 18px;
}

.datepicker {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.selected-values { /* todo: не адаптивная залупа */
    margin-bottom: 24px;
    color: #888;
    font-size: 14px;
}


.chosen-container-multi .chosen-choices .search-choice {
    background-color: #f0f0f0; /* Цвет выбранных опций */
    color: #333; /* Цвет текста для выбранных опций */
    margin-top: 6px;
    margin-right: 6px;
}

.chosen-container-multi .chosen-choices .search-choice-focus {
    background-color: #e0e0e0; /* Цвет фона для подсвеченной выбранной опции */
    background-color: indianred; /* Цвет фона для подсвеченной выбранной опции */

}
.chosen-container-multi .chosen-results li.highlighted {
    background-color: #e0e0e0; /* Цвет фона для подсвеченной не выбранной опции */
}

/*NEW*/
/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #e3f2fd;
}
.container{
    position: relative;
    max-width: 320px;
    width: 100%;
    margin: 80px auto 30px;
}
.select-btn{
    display: flex;
    height: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    border-radius: 8px;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.select-btn .btn-text{
    font-size: 17px;
    font-weight: 400;
    color: #333;
}
.select-btn .arrow-dwn{
    display: flex;
    height: 21px;
    width: 21px;
    color: #fff;
    font-size: 14px;
    border-radius: 50%;
    background: #6e93f7;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.select-btn.open .arrow-dwn{
    transform: rotate(-180deg);
}
.list-items{
    position: relative;
    margin-top: 15px;
    border-radius: 8px;
    padding: 16px;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    display: none;
}
.select-btn.open ~ .list-items{
    display: block;
}
.list-items .item{
    display: flex;
    align-items: center;
    list-style: none;
    height: 50px;
    cursor: pointer;
    transition: 0.3s;
    padding: 0 15px;
    border-radius: 8px;
}
.list-items .item:hover{
    background-color: #e7edfe;
}
.item .item-text{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.item .checkbox{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 16px;
    width: 16px;
    border-radius: 4px;
    margin-right: 12px;
    border: 1.5px solid #c0c0c0;
    transition: all 0.3s ease-in-out;
}
.item.checked .checkbox{
    background-color: #4070f4;
    border-color: #4070f4;
}
.checkbox .check-icon{
    color: #fff;
    font-size: 11px;
    transform: scale(0);
    transition: all 0.2s ease-in-out;
}
.item.checked .check-icon{
    transform: scale(1);
}