/*.notification {*/
/*    padding: 20px;*/
/*    border-radius: 5px;*/
/*    font-size: 16px;*/
/*    z-index: 9999;*/
/*    display: none;*/
/*    text-align: center;*/
/*    transform: scale(1.1);*/
/*    animation: showNotification 0.5s ease;*/
/*}*/

.notification {
    /*todo: сделать текст чуть выше, чем кнопочка. и цвет у кнопочки изменить https://imgur.com/a/jciemnT*/
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 20px;
    border-radius: 5px;
    background-color: #2ecc71;
    color: #fff;
    font-size: 16px;
    z-index: 9999;
    display: none;
    text-align: center;
    transform: scale(1.1);
    animation: showNotification 0.5s ease;
}

@keyframes showNotification {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1.1);
    }
}

@keyframes hideNotification {
    from {
        opacity: 1;
        transform: scale(1.1);
    }
    to {
        opacity: 0;
        transform: scale(0.9);
    }
}

.success {
    /*background-color: #2ecc71;*/
    background-color: #0500ff;
}

.error {
    background-color: #e74c3c;
}

.warn {

    background-color: #f39c12;
    position: fixed;
    bottom: 20px;
    right: 20px;
    /* todo: вот в этих двух хуйня и надо подкорректировать чтобы warn нормально вылетал. сейчас некорректные размеры https://imgur.com/a/EepzoKg   | сейчас только адаптировать в будущем под phone идею*/
    top: 90%; /*   высота   */
    left: 70%; /*   ширина   */
        /*вот в этих двух хуйня и надо подкорректировать чтобы warn нормально вылеатл*/

}

#ok-button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    background-color: #3498db;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
#ok-button:hover {
    transform: scale(1.1);
    background-color: #10689a;
}


/*подскажи, как мне исправить и почему у меня используется этот селектор css (если это он. если это не он, то скажи мне об этом и назови правильное имя этой штуки), а не нужный мне селектор */

/*у меня есть файлы style_notification.css и style_add_achievement.css */
/*при выскакивании уведомления success у меня изменился цвет кнопки и ещё кое-что. когда я залез в css этой функции,*/