<!DOCTYPE html>
<html>
<head>
    <title>Успех!</title>
        {% load static %}

    <link rel="stylesheet" href="{% static 'website/css/public/style_notification.css' %}">

</head>
<body>
{% if error_message %}
<div id="notification" class="notification error">
    <p>{{ error_message }}</p>
    <button id="ok-button">OK</button>
</div>
{% elif message %}
<div id="notification" class="notification success">
    <p>{{ message }}</p>
    <button id="ok-button">OK</button>
</div>
{% endif %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var notification = document.getElementById('notification');
        var okButton = document.getElementById('ok-button');
        if (notification) {
            notification.style.display = 'block';

            // Функция для перенаправления на профиль
            function redirectToProfile() {
                window.location.href = '/profile';
            }

            setTimeout(redirectToProfile, 10000);
            okButton.addEventListener('click', redirectToProfile);
        }
    });
</script>

</body>
</html>
